nav, header, section, footer, ol, ul, li{
    text-align: center;
}

ul{
width : 100px;
text-align: center;
display:inline-block;
float:none;
}
  body {
    background-color: rgb(192, 163, 246);
  }

  h1, h2, h3 {
    color:rgb(54, 27, 206);
  }

